.editor-container {
  display: block;
  width: 500px;
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
  word-break: break-all;
  height: auto;
  font-size: 18px; }
  .editor-container > .toolbar {
    grid-area: tool-bar;
    display: none;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "one two";
    border-bottom: 2px solid #696969;
    padding: 0 10px; }
    .editor-container > .toolbar > div:first-child {
      grid-area: one; }
    .editor-container > .toolbar > div:last-child {
      grid-area: two;
      color: blue; }
      .editor-container > .toolbar > div:last-child > a:hover {
        color: red; }
  .editor-container > .editor {
    grid-area: editor;
    display: none;
    min-height: 100px;
    font-size: 18px;
    margin: 10px;
    resize: none; }
    .editor-container > .editor.hide {
      display: none; }
  .editor-container > p {
    display: block;
    min-height: 40px;
    max-height: 200px;
    padding: 10px; }
  .editor-container > p.editor {
    max-height: auto;
    padding: 0; }
  .editor-container > .optionbar {
    display: none;
    justify-content: center;
    align-content: center;
    border-top: 2px solid #696969; }
    .editor-container > .optionbar > button {
      height: 25px;
      width: 200px; }
    .editor-container > .optionbar > button:first-child {
      background-color: #696969;
      color: #fff; }
    .editor-container > .optionbar > button:last-child {
      background-color: transparent; }
  .editor-container.active-editor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px auto 60px;
    grid-template-areas: "tool-bar" "editor" "optionbar";
    cursor: default; }
    .editor-container.active-editor > .toolbar {
      display: grid; }
    .editor-container.active-editor > .editor {
      display: block; }
    .editor-container.active-editor > .optionbar {
      display: grid; }
    .editor-container.active-editor p {
      display: none; }
  .editor-container > .editor.hide {
    display: none; }
  .editor-container .bold {
    font-weight: bold; }
  .editor-container .underline {
    text-decoration: underline; }
  .editor-container .italic {
    font-style: italic; }
  .editor-container .strikeThrough {
    text-decoration: line-through; }

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf; }
  .context-menu.active {
    display: block; }
  .context-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .context-menu > ul > li {
      display: block;
      margin-bottom: 4px;
      padding: 5px;
      color: black; }
      .context-menu > ul > li:last-child {
        margin-bottom: 0; }
      .context-menu > ul > li:hover {
        color: #fff;
        background-color: #0066aa; }
      .context-menu > ul > li::before {
        font-weight: 400;
        margin: 0 .5em 0 0; }
      .context-menu > ul > li#veiw::before {
        content: '\f06e'; }
      .context-menu > ul > li#update::before {
        content: '\f044'; }
      .context-menu > ul > li#delete::before {
        content: '\f2ed'; }
      .context-menu > ul > li#add::before {
        content: '\f0fe'; }

#frame {
  display: grid;
  grid-auto-rows: 100px auto;
  grid-auto-columns: auto;
  grid-template-areas: "title" "frame"; }
  #frame > nav {
    grid-area: title;
    display: grid;
    grid-auto-rows: 100px;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-areas: "toggle title users";
    align-items: center; }
    #frame > nav > buttton {
      grid-area: toggle; }
    #frame > nav > h1 {
      grid-area: title;
      text-align: center;
      height: auto;
      font-size: 3vw; }
    #frame > nav > .users {
      grid-area: users; }
  #frame > .frame {
    grid-area: frame;
    position: relative;
    display: flex;
    align-content: stretch;
    background: none;
    overflow-x: auto;
    padding: 0 60px;
    height: calc( 100vh - 100px); }
    #frame > .frame > .box {
      min-width: 400px;
      width: 100%;
      border: 2px dotted transparent;
      padding: 10px 0 0 0;
      margin: 0 40px 0 0;
      position: relative;
      overflow-y: auto; }
      #frame > .frame > .box.over {
        opacity: .9;
        border: 2px dotted red; }
      #frame > .frame > .box > h2 {
        margin: 20px; }
      #frame > .frame > .box > button, #frame > .frame > .box > .task {
        background-color: #494949;
        border-radius: 5px; }
      #frame > .frame > .box > button {
        width: 100%;
        height: 60px;
        font-size: 50px;
        color: #E3E3E3; }
      #frame > .frame > .box > .task {
        position: relative;
        border: 2px dotted transparent;
        padding: 20px;
        margin: 20px 0; }
        #frame > .frame > .box > .task > textarea {
          user-select: contain;
          width: 100%;
          resize: none;
          background: none;
          color: inherit;
          padding: 10px;
          height: 0; }
          #frame > .frame > .box > .task > textarea.active {
            background: rgba(255, 255, 255, 0.8);
            color: black; }
        #frame > .frame > .box > .task.over {
          opacity: .9;
          border: 2px dotted red; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  background-color: #222222;
  color: white; }

body, html {
  height: auto;
  overflow: hidden;
  position: relative; }

h1 {
  font-weight: bold; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.wrapper {
  min-width: 325px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.inactive-link, .editor-container > p, #frame > .frame > .box > h2, #frame > .frame > .box > .task > textarea {
  pointer-events: none; }

.active-link, #frame > .frame > .box > .task > textarea.active {
  pointer-events: auto; }

.stop-scrolling {
  position: fixed;
  padding-right: 17px; }

.pointer, .editor-container, .editor-container > .toolbar > div:first-child > button, .editor-container > .toolbar > div:last-child > a:hover, .editor-container > .optionbar > button, .context-menu > ul > li {
  cursor: pointer; }

.cursor-text, .editor-container > .editor {
  cursor: text; }

.no-pointer-event, .editor-container > p.editor {
  pointer-events: none; }

.disable-higlight {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.no-wrap {
  white-space: nowrap; }

.context-menu > ul > li::before {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-variant: normal;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }
