.editor-container {
  margin: 20px;
  width: 500px;
  background-color: #fff; }
  .editor-container > .toolbar {
    display: none; }
  .editor-container > .editor {
    background-color: transparent;
    width: 100%;
    padding: 20px;
    resize: none; }
  .editor-container > .optionbar {
    display: none; }
  .editor-container.active-editor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px auto 60px;
    grid-template-areas: "tool-bar" "editor" "optionbar";
    padding: 10px; }
    .editor-container.active-editor > .toolbar {
      grid-area: tool-bar;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-template-areas: "one two";
      border-bottom: 2px solid #696969;
      padding: 0 10px; }
      .editor-container.active-editor > .toolbar > div:first-child {
        grid-area: one; }
      .editor-container.active-editor > .toolbar > div:last-child {
        grid-area: two;
        color: blue; }
        .editor-container.active-editor > .toolbar > div:last-child > a:hover {
          color: red; }
    .editor-container.active-editor > .editor {
      grid-area: editor;
      min-height: 120px; }
    .editor-container.active-editor > .optionbar {
      display: grid;
      justify-content: center;
      align-content: center;
      border-top: 2px solid #696969; }
      .editor-container.active-editor > .optionbar > button {
        height: 25px;
        width: 200px; }
      .editor-container.active-editor > .optionbar > button:first-child {
        background-color: #696969;
        color: #fff; }
      .editor-container.active-editor > .optionbar > button:last-child {
        background-color: transparent; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  background-color: #aaa; }

body, html {
  height: auto;
  overflow-x: hidden;
  position: relative; }

h1 {
  font-weight: bold; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.wrapper {
  min-width: 325px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.inactive-link {
  pointer-events: none; }

.active-link {
  pointer-events: auto; }

.stop-scrolling {
  position: fixed;
  padding-right: 17px; }

.pointer, .editor-container > .editor, .editor-container.active-editor > .toolbar > div:last-child > a:hover, .editor-container.active-editor > .optionbar > button {
  cursor: pointer; }

.cursor-text, .editor-container.active-editor > .editor {
  cursor: text; }

.no-pointer-event {
  pointer-events: none; }

.disable-higlight {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.no-wrap {
  white-space: nowrap; }
