form#signUp(method="POST")
    div
        label Name * 
        input#name(type="text")
        p#nameFeedback
    div
        label Email (info@example.com) * 
        input#email(type="text")
        p#emailFeedback
    div
        label Password * 
        input#pw(type="text")
        p#pwFeedback
    div
        label Comfirm password * 
        input#comfirmPw(type="text")
        p#comfirmPwFeedback
    button sign up

br
br
br

form#login(method="POST")
    div
        label Email * 
        input#email(type="text")
        p#emailFeedback
    div
        label Password * 
        input#pw(type="text")
        p#pwFeedback
    button Login