#renderFrame
	.frame
		ul#box.box(draggable="true") 
			li#task.task(data-id="hej" draggable="true")
				p hej
			li#task.task(data-id="då" draggable="true") 
				p på
			li#task.task(draggable="true") 
				p dig
			li#task.task(draggable="true") 
				p och
		ul#box.box(draggable="true") 
			li#task.task(draggable="true") 
				p gråt
			li#task.task(draggable="true") 
				p mindre
			li#task.task(draggable="true") 
				p snälla
			li#task.task(draggable="true") 
				p för
		ul#box.box(draggable="true") 
			li#task.task(draggable="true") 
				p det
			li#task.task(draggable="true") 
				p är
			li#task.task(draggable="true") 
				p inte
			li#task.task(draggable="true") 
				p roligt