.editor-container#editor-container
	.toolbar
		div
			button#write Write
			button#preview Preview
		div
			a.fa.fa-bold.fa-fw#bold(unselectable="on")
			a.fa.fa-italic.fa-fw#italic
			a.fa.fa-underline.fa-fw#underline
			a.fa.fa-list.fa-fw#list
			a.fa.fa-link.fa-fw#link

	textarea.editor#editor(spellcheck="false" data-enablewrite="true")

	p#formatedContent

	.optionbar
		button#save Save
		button#cancel Cancel