.editor-container#editor-container
	.toolbar
		div
			a Write
			a Preview
		div
			a
				span.fa.fa-bold.fa-fw
			a
				span.fa.fa-italic.fa-fw
			a
				span.fa.fa-list.fa-fw
			a
				span.fa.fa-link.fa-fw

	textarea.editor#editor

	.optionbar
		button Save
		button Cancel