@import "./modules/_mixins"
@import "./modules/_functions"
@import "./modules/_variables"
@import "./modules/_editor"
	
*
	margin: 0
	padding: 0
	border: 0
	outline: 0
	box-sizing: border-box
	font-family: sans-serif

body 
	background-color: #aaa
body, html 
	height: auto
	overflow-x: hidden
	position: relative

h1
	font-weight: bold
 
a 
	text-decoration: none

ul
	list-style-type: none

.wrapper
	min-width: 325px
	max-width: 1440px
	width: 100%
	margin: 0 auto

.inactive-link
	pointer-events: none
	
.active-link
	pointer-events: auto

.stop-scrolling
	position: fixed
	padding-right: 17px

.pointer
	cursor: pointer
.cursor-text
	cursor: text
.no-pointer-event
	pointer-events: none

.disable-higlight
	user-select: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none

.no-wrap
	white-space: nowrap;