.editor-container
	word-break: break-all
	grid-template-columns: auto
	grid-template-rows: 40px auto 30px
	grid-template-areas: "tool-bar" "editor" "optionbar"
	cursor: default
	border-radius: 5px

	$color: rgba(black, .15)
	& > div
		padding: 0 10px
	& > .toolbar
		grid-area: tool-bar
		display: none
		justify-content: space-between
		align-content: center
		grid-template-areas: "one two"
		background-color: $color
		border-radius: 5px 5px 0 0
		
		& > div:first-child
			grid-area: one
			display: flex
			& > button
				@extend .pointer
				background-color: transparent
				color: white
				padding: 12px
				&:hover
					background-color: $color

		& > div:last-child
			grid-area: two
			display: flex
			align-self: center
			& > span
				@extend .pointer
				padding: 10px
				&::before
					@extend %font-awsome
					font-weight: 700
				&#underline::before
					content: '\f0cd'
				&#bold::before
					content: '\f032'
				&#italic::before
					content: '\f033'
				&#strikethrough::before
					content: '\f0cc'
				&:hover
					background-color: $color

	& > .editor
		@extend .active-link
		@extend .cursor-text
		grid-area: editor
		display: none
		min-height: 100px
		font-size: 18px
		resize: none
		padding: 10px
		&.hide
			display: none
	& > p
		@extend .inactive-link
		@extend .pointer
		display: block
		min-height: 40px
		max-height: min-content
		padding: 10px
		white-space: pre-wrap
	& > p.editor
		@extend .no-pointer-event
		padding: 0

	& > .optionbar
		display: none
		justify-content: right
		align-content: center
		gap: 5px
		background-color: $color
		& > button
			@extend .pointer
			padding: 5px 20px
			color: white
		& > button:first-child
			order: 2
			background-color: $color
			&:hover
				background-color: rgba( black, .3)
		& > button:last-child
			order: 1
			background-color: transparent
			&:hover
				background-color: $color

	&.active-editor
		@extend .active-link
		display: grid
		background-color: $color
		& > .toolbar
			display: grid
		& > .editor
			display: block
		& > .optionbar
			display: flex
		p
			display: none

	& > .editor.hide
		display: none

	.bold
		font-weight: bold

	.underline
		text-decoration: underline

	.italic
		font-style: italic

	.strikeThrough
		text-decoration: line-through
		


