$navHeight: 100px


#frame
	display: grid
	grid-auto-rows: 100px auto
	grid-auto-columns: auto
	grid-template-areas: "title" "frame"
	& > nav
		grid-area: title
		display: grid
		grid-auto-rows: $navHeight
		grid-auto-columns: 1fr 1fr 1fr
		grid-template-areas: "toggle title users"
		align-items: center
		& > buttton
			grid-area: toggle
		& > h1
			grid-area: title
			text-align: center
			height: auto
			font-size: 3vw
		& > .users
			grid-area: users
	& > .frame
		grid-area: frame
		position: relative
		display: flex
		align-content: stretch
		background: none
		overflow-x: auto
		padding: 0 60px
		height: calc( 100vh - #{$navHeight} )
		& > .box
			min-width: 400px
			width: 100%
			border: 2px dotted transparent
			padding: 10px 0 0 0
			margin: 0 40px 0 0
			position: relative
			overflow-y: auto
			&.over
				opacity: .9
				border: 2px dotted red
			& > h2
				@extend .inactive-link
				margin: 20px
			& > button, & > .task
				background-color: #494949
				border-radius: 5px
			& > button
				width: 100%
				height: 60px
				font-size: 50px
				color: #E3E3E3

			& > .task
				position: relative
				border: 2px dotted transparent
				padding: 20px
				margin: 20px 0
				& > textarea
					@extend .inactive-link
					user-select: contain
					width: 100%
					resize: none
					background: none
					color: inherit
					padding: 10px
					height: 0
					
					&.active
						@extend .active-link
						background: rgba(white , .8)
						color: black
				&.over
					opacity: .9
					border: 2px dotted red