$navHeight: 120px
$boxBorder: 2px
$paddingBetweenBoxes: 40px
$spanBetweenBoxesWidth: 10px
$boxContentBorderRadius: 5px

$taskWidth: 600px
$taskHeight: 400px

%textarea
	@extend .inactive-link
	user-select: contain
	width: 100%
	resize: none
	background: none
	color: inherit
	padding: 5px 0
	height: 0
	min-height: 30px
	transition: background .05s linear, padding .1s ease-in-out, border .1s ease-in
	overflow-y: hidden
	&.active
		padding: 5px
		@extend .active-link
		@extend .cursor-text
		background: rgba(black , .1)

#render
	display: grid
	grid-auto-rows: $navHeight auto
	grid-auto-columns: auto
	grid-template-areas: "frameNav" "frame"

	textarea
		@extend %textarea
		

	& > nav
		grid-area: frameNav
		display: grid
		grid-auto-rows: $navHeight
		grid-auto-columns: 1fr 1fr 1fr
		grid-template-areas: "toggle title users"
		align-items: center
		& > buttton
			grid-area: toggle
		& > textarea
			grid-area: title
			font-size: 3vw
			text-align: center
		& > .users
			grid-area: users
	& > .frame
		grid-area: frame
		position: relative
		display: flex
		align-content: stretch
		background: none
		overflow-x: auto
		padding: 0 60px
		height: calc( 100vh - #{$navHeight} )

		& > .box
			min-width: 350px
			width: 100%
			border: $boxBorder dotted transparent
			padding: 10px $paddingBetweenBoxes 0 0
			position: relative
			overflow-y: auto
			overflow-x: hidden
			&.over
				opacity: .9
				border: $boxBorder dotted red
			& > textarea
				font-size: 22px
				font-weight: bold
				padding: 20px
				border-radius: $boxContentBorderRadius
				transition: margin .05s linear
				&.active
					margin: 0 0 20px 0
			& > button, & > .task
				@extend .pointer
				background-color: #494949
				border-radius: $boxContentBorderRadius
				box-shadow: 3px 3px 3px rgba(black , .3)
			& > button
				width: 100%
				height: 60px
				font-size: 50px
				color: #E3E3E3
			& > span
				@extend .pointer
				display: grid
				place-content: center
				position: absolute
				right: calc( (#{$paddingBetweenBoxes} - (#{$spanBetweenBoxesWidth} + #{$boxBorder}))/2 )
				top: 0
				height: 100%
				background-color: transparent
				width: $spanBetweenBoxesWidth
				border-radius: 3px 3px 0 0
				opacity: 0
				transition: background .1s linear, opacity .2s linear
				box-shadow: 0 3px 10px rgba(black , .3)
				&::before
					display: grid
					place-content: center
					content: '+'
					font-size: 0
					background-color: #222
					width: $spanBetweenBoxesWidth*3
					height: $spanBetweenBoxesWidth*3
					border: 4px solid transparent
					border-radius: 50%
					transition: font-size .1s linear, background .1s linear, border .1s linear
				&.hover
					opacity: .85
					background-color: green
					&::before
						border: 4px solid green
						font-size: $spanBetweenBoxesWidth*1.5

			& > .task
				//cursor: url("/img/ygtZg.png"), auto
				position: relative
				border: $boxBorder dotted transparent
				padding: 20px
				margin: 20px 0
				&.over
					opacity: .9
					border: $boxBorder dotted red
	
	.task-container
		& > .taskLarge
			$taskContainerPadding: 20px
			position: absolute
			top: calc( 50vh - #{$taskHeight}/2 )
			right: calc( 50vw - #{$taskWidth}/2 )
			width: $taskWidth
			min-height: $taskHeight
			background-color: #494949
			border-radius: $boxContentBorderRadius
			z-index: 2
			padding: $taskContainerPadding
			font-size: 18px

			display: grid
			grid-auto-columns: calc( #{$taskWidth} - #{$taskContainerPadding}*2 )
			grid-auto-rows: minmax(40px, min-content) 30px min-content auto
			grid-template-areas: "title" "owner" "info" "description"

			& > textarea:nth-child(1)
				@extend .active-link
				@extend .pointer
				grid-area: title
				font-size: 28px
				font-weight: 700
				&.active
					@extend .cursor-text
				
			& > p:nth-child(2)
				grid-area: owner
				color: #E3E3E3

			& > div.info
				grid-area: info
				display: flex
				flex-wrap: wrap
				gap: 15px
				
				$circleHeight: 25px
				%circle
					display: block
					height: $circleHeight
					width: $circleHeight
					border-radius: 50%
				%circleButton
					@extend %circle
					@extend .pointer
					background-color: rgba(black, .15)
					color: inherit
					&::after
						content: '+'
					&:hover
						background-color: rgba(black, .3)

				& > div
					& > label
						margin: 0 0 5px 0
						height: 20px
					
				
				& > div.color
					grid-area: color
					display: grid
					place-content: start
					& > button
						padding: 5px
						border-radius: 5px
						background-color: transparent
						display: flex
						gap: 10px
						color: inherit
						align-self: start
						& > span:nth-child(1)
							@extend %circle
							@extend .pointer
							height: $circleHeight*3/5
							width: $circleHeight*3/5
							background-color: yellow
						& > span:nth-child(2)
							color: inherit
							align-self: center
						&:hover
							background-color: rgba(black, .15)
							
				$gap: 2px
				& > div.members
					grid-area: members
					display: grid
					place-content: start
					& > div
						display: flex
						flex-wrap: wrap
						gap: $gap
						& > div.img
							@extend %circle
							overflow: hidden
							display: grid
							place-content: center
							& > img
								height: $circleHeight
						& > button
							@extend %circleButton
							min-width: $circleHeight

				& > div.labels
					grid-area: labels
					display: grid
					place-content: start
					& > #labels
						align-self: start
						display: flex
						flex-wrap: wrap
						gap: $gap * 3
						& > div
							background-color: rgba(black, .15)
							padding: 5px 10px
							border-radius: $boxContentBorderRadius
						& > button
							@extend %circleButton
							border-radius: 5px
							min-height: 31px
							min-width: 31px
							





			& > .editor-container
				@extend .editor-container
				grid-area: description

		& > #taskShadow
			position: absolute
			display: block
			background-color: rgba( black, .5)
			height: 100vh
			width: 100vw
			top: 0
			right: 0