DOCTYPE
html
	include includes/_head.pug

	body
		// include includes/_navbar.pug
		.loadingscreen

		main
		
			include includes/_basic-form.pug
			include includes/_test-editor.pug

			#render

			.darkModeToggle
				button#dark
				button#light

		// include includes/_footer.pug
			
			

	include includes/_scripts.pug