DOCTYPE
html
	include includes/_head.pug

	body

		// include includes/_navbar.pug

		main


		// include includes/_footer.pug
		
		include includes/_basic-form.pug
		include includes/_test-editor.pug
		include includes/_context-menu.pug
		include includes/_dnd.pug

	include includes/_scripts.pug