DOCTYPE
html
	include includes/_head.pug

	body
		// include includes/_navbar.pug
		.loadingscreen

		main
		
			include includes/_basic-form.pug

			#render

			.darkModeToggle
				button#darkmode

		// include includes/_footer.pug
			
			

	include includes/_scripts.pug